QMainWindow {
    background-color:rgb(230, 230, 230);
}

#slider_label {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#text_input {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#text_output {
    background-color: rgba(255, 255, 255, 155);
    color: black;
    border: 1px solid black;
}

#left_button {
    background-color: white;
    color: black;
}

#right_button {
    background-color: white;
    color: black;
}

#element_text {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#element_add_button {
    background-color: white;
    color: black;
}

#element_delete_button {
    background-color: white;
    color: black;
}

#element_clear_button {
    background-color: white;
    color: black;
}

#list_widget {
    background-color: rgba(255, 255, 255, 155);
    color: black;
    border: 1px solid black;
}
